body {
  margin:0;
    padding:0;
    background: black;
    -moz-background-size: cover;
    background-size: cover;
}

@font-face {
  font-family: 'LCD';
  src: url(open-24-display-st.ttf);
}

h1 {
  font-size: 20px;
  color: gray
}

.col {
  height: 50px
}

.team-font {
  font-size: 100px;
  font-family: 'LCD';
  color: white;
}

.foul-font {
  font-size: 100px;
  font-family: 'LCD';
  color: yellow;
}

#time-font {
  font-size: 200px;
  font-family: 'LCD';
  color: red;
}

.score-font {
  font-size: 500px;
  font-family: 'LCD';
  color: red;
}